{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/regss.css' %}">
</head>
<body>
    <div class="container">
        <div class="left-section">
            <a href="{% url 'index' %}"><i class='fas fa-home' style='color:orange'>Home</i></a>
        </div>
        <div class="right-section">
            <div class="login-container">
                <form class="login-form" method="post">
                    {% csrf_token %}
                    <h2 class="login-title"><i class="fas fa-user-circle"></i> Register</h2>
                    <div class="form-control">
                        <i class="fas fa-user icon"></i>
                        <input type="text" placeholder="Username" id="username" name="uname" required>
                    </div>
                    <div class="form-control">
                        <i class="fas fa-user icon"></i>
                        <input type="email" placeholder="Email" id="email" name="email" required>
                    </div>
                    <div class="form-control">
                        <i class="fas fa-user icon"></i>
                        <input type="number" placeholder="Mobile Number" id="number" name="mobno" required>
                    </div>
                    <div class="form-control">
                        <i class="fas fa-lock icon"></i>
                        <input type="password" placeholder="Password" id="passw" name="passw" required>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" onclick="myFunction()">
                        <span class="checkbox-custom"></span>
                        <label class="form-check-label" for="exampleCheck1">Show Password</label>
                    </div>
                    <div id="message" style="display: none">
                                    <h5>Password must contain the following:</h5>
                                    <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                                    <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                                    <p id="number" class="invalid">A <b>number</b></p>
                                    <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                                <div class="form-check">
                                    <a class="form-check-label" for="exampleCheck1"><input type="checkbox" class="form-check-input" id="exampleCheck1" required>I agree to terms and Condition</a>
                                </div>
                    </div>
                    <h3>{{ error }}</h3>
                    <div class="social-login">
                        <label><a href="{% url 'login' %}" style="text-decoration: None; color: orange;">Already Have an account!!Login</a></label>
{#                        <i class="fab fa-google social-icon"></i>#}
{#                        <i class="fab fa-facebook-f social-icon"></i>#}
{#                        <i class="fab fa-twitter social-icon"></i>#}
                    </div>
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
        function myFunction() {
          var x = document.getElementById("passw");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
    </script>
    <script>
        var myInput = document.getElementById("passw");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

        // When the user clicks on the password field, show the message box
        myInput.onfocus = function() {
          document.getElementById("message").style.display = "block";
        }

        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function() {
          document.getElementById("message").style.display = "none";
        }

        // When the user starts to type something inside the password field
        myInput.onkeyup = function() {
          // Validate lowercase letters
          var lowerCaseLetters = /[a-z]/g;
          if(myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
          } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
          }

          // Validate capital letters
          var upperCaseLetters = /[A-Z]/g;
          if(myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
          } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
          }

          // Validate numbers
          var numbers = /[0-9]/g;
          if(myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
          } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
          }

          // Validate length
          if(myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
          } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
          }
        }

</script>
</html>
